.main-container {
    max-width: 1280px;
    margin: auto;
    font-family: "Times New Roman", Times, serif;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

input {
    border-top:none !important;
    border-left:none !important;
    border-right:none !important;
}

input:focus{
  outline: none !important;
  border-color: black;
}

.form-container {
    animation-duration: 1s;
    margin-top:20%;
}

.chat-container {
    max-width: 600px;
}

.messages-container {
    margin-top: 10%;
    height: 400px;
    overflow: scroll;
}

.message-headers{
    font-weight: 600;
    font-size: 18px;
    color: #007bff;
    margin-bottom:-10px;
}

.message-headers label{
    font-weight: normal;
    font-size: 13px;
    color: grey;
}
