{% extends 'base.html' %}
{% load static %}

{% block title %}
    Online Chat
{% endblock %}

{% block content %}
<div class="container chat-container">
    <div class="messages-container">
        {% for message in messages %}
            <p>{{message.usrname}}: {{message.message}}</p>
        {% endfor %}
    </div>
    <form method="post">
        <div class="form-group"> 
            <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Send</button>
    </form>
</div>
{% endblock %}
